.Sidebar{
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #696969;
}
.upper-side{
    padding: 2vw;
}
.upper-top{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.upper-top >span{
    font-size: 2vw;
    font-weight: 700;
}
.midbtn img { 
    width: 2vw;
}
.midbtn{
    /* border-top: 1px solid #cacaca; */
    width: 100%;
    height: 8vh;
    margin: 5vh 0;
    /* border: 2px solid; */
}
.midbtn button{
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 1vh;
    height: 100%;
    background-color: rgb(92, 92, 255);
    /* background-color: #5A4BFF; */
    color: #fff;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.upper-bottom{
    width: 100%;
    min-height: 5vh;
    padding: 0.1vh;
    /* border: 1px solid; */
}

.upper-bottom button {
    width: 100%;
    height:8vh;
    cursor: pointer;
    color: #cacaca;
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
    padding: 0 1.5vw;
    border-radius: 1vh;
    font-size: 1.1vw;
}

.lower-side{
    width: 100%;
    min-height: 10vh;
    border-top:1px solid #696969;
    padding: 2vw;
    /* border: 1px solid; */
}
.lower-side button{
    width: 100%;
    height: 8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 0 1.5vw;
    background-color: transparent;
    color: #ececec;
    border: none;
    font-size: 1.2vw;
    font-weight:400;
}

